body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(52, 59, 65);
    padding: 40px;
}

h2 {
    font-size: 22px;
}

h3 {
    margin-top: 5px;
}

h1 {
    font-size: 40px;
    margin-top: 30;
    margin-bottom: 10px;
}
